<h4>Intercambia tus libros y conectate con otros corazones</h4>
<div class="card-body">
    <form #newPubForm="ngForm" (ngSubmit)="onSubmit($event)">
        <input type="text" name="title" #title="ngModel" [(ngModel)]="publication.title" placeholder="¡Titulo!">
        <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" placeholder="¡Descripción!"></textarea>
        <input type="file" name="file"  placeholder="sube la imagen" (change)="fileChangeEvent($event)">
        <label for="genre">Genero:</label>
        <select  name="genre" #genre="ngModel" [(ngModel)]="publication.genre" required>
            <option *ngFor="let genre of genres" value="{{genre.name}}">
                {{genre.name}}
            </option>
        </select>
        <label for="ciudad">Ciudad:</label>
        <select  name="ciudad" #ciudad="ngModel" [(ngModel)]="publication.city" required>
            <option *ngFor="let city of cities" value="{{city.name}}">
                {{city.name}}
            </option>
        </select>
        <button type="submit">Subir</button>
    </form>
</div>
