.headerbar{
    //background-color: rgb(150, 16, 173);
    background-color: rgb(8, 170, 235);;
    color: #ffee05;
    text-align: center;
    .terms-conditions{
        a{
            color: #ffee05;
            margin: 0.2rem .5rem;
            text-decoration: none;
            font-size: .8rem;
        }
    }
}