
<div *ngIf="user" class="user-data">
    <div class="profile-avatar">
        <img [src]="'http://localhost:3500/'+user.avatar">
    </div>
    <div class="datauser">
        <p><span class="username">{{user.username}}</span></p> 
    <p>{{user.email}}</p>
    </div>
</div>
<div *ngIf="publications">
    <div *ngFor="let publication of publications" class="publication">
        <div class="publisher">
            <h4>
                    {{publication.user.username}}
            </h4>
        </div>
        <div class="text">
            <p>{{publication.text}}</p>
        </div>
    </div>
    </div>