.user-data{
    display: flex;
    border: .05rem solid rgb(163, 163, 163);
    margin: 5rem 10rem;
    .datauser{
        p{
            color: rgb(4, 4, 77);
            margin-left: 1rem;
            
        }
        .username{
            font-size: 1.5rem;
        }
    }
    
    .profile-avatar{

        img{
            max-width: 4rem;
            margin-left: .5rem;
            padding-top: 1.5rem;
            
        }
        
    }
}

.publication{
    border-top: .05rem solid rgb(4, 4, 77);
    padding: 0rem .5rem;
    margin: 1rem 15rem;
    .publisher{
        color: rgb(4, 4, 77);
        h4{
            a{
                text-decoration: none;
            }
        }
    }
    .text{
        border: .05rem solid #7a7a94;
        margin-bottom: .5rem;
        padding: 0rem .5rem;
    }
}
