<p>useredit works!</p>
<div>
    <div class="signup-form">
        <form (submit)="userEdit()">
            <input type="text" name="username" [(ngModel)]="user.username" placeholder="Usuario" required>
            <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
            <input type="password" name="password" [(ngModel)]="user.password" placeholder="Contraseña" required>
            <div>
            <!-- <img src="{{URL+'get-avatar-usr/'+user.avatar}}" alt=""> -->
            <img [src]="'http://localhost:3500/'+user.avatar">
            </div>
            <input type="file" (change)="fileChangeEvent($event)" placeholder="subir imagen">
            <button type="submit">Editar</button>
        </form>
    </div>
</div>
