
<div class="people" *ngIf="messages">
    <div *ngFor="let message of messages" class="itemuser">
        <div class="users">
            <div *ngIf="message.emitter._id!=identity._id" class="users-functions">
                <p>{{message.emitter.username.toUpperCase()}}</p>
                <a [routerLink]="['/mensajes/enviar', message.emitter._id]">
                    Responder 
                </a>
            </div>
            <div *ngIf="message.emitter._id===identity._id">
                <p>Tu</p>
            </div>
        </div>
        <!-- <div *ngIf="message.emitter._id!=identity._id">
            <button *ngIf="follows.indexOf(message.emitter._id)<0" (click)="followUser(message.emitter._id)">
                Seguir
            </button>
            <button>
                Seguiendo
            </button>
            <button *ngIf="follows.indexOf(message.emitter._id)>=0" (click)="unfollowUser(message.emitter._id)">
                Dejar de Seguir
            </button> -->
        <div class="message-text">
           <p> {{message.text}} </p>
        </div>
    </div>
</div>
<ul>
    <li *ngIf="page>1" ><a [routerLink]="['mensajes/enviados',userPageId, prev_page]">Anterior</a></li>
    <li *ngIf="pages!=page" ><a [routerLink]="['mensajes/enviados',userPageId, next_page]">Siguiente</a></li>
</ul>
