<div>
    <h3>Mensajes</h3>
</div>
<div class="people" *ngIf="messages">
    <div *ngFor="let message of messages" class="itemuser">
        <div class="users">
            <div *ngIf="message.emitter['_id']!=identity._id" class="users-functions">
                <p>{{message.emitter['username'].toUpperCase()}} | {{(message.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</p>
                <a [routerLink]="['/mensajes/enviar', message.emitter['_id']]">
                    Responder 
                </a>
            </div>
            <div *ngIf="message.emitter['_id']===identity._id">
                <p>Tu | {{(message.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</p>
            </div>
        </div>
        <div class="message-text">
           <p> {{message.text}} </p>
        </div>
    </div>
    
</div>
<div class="error500" *ngIf="error500">
    <p>Algo ha ido mal</p>
</div>
<ul class="nextpreview">
    <li *ngIf="page>1" ><a [routerLink]="['/mensajes/leer-mensajes/',id, prev_page]">Anterior</a></li>
    <li *ngIf="pages!=page" ><a [routerLink]="['/mensajes/leer-mensajes/',id , next_page]">Siguiente</a></li>
</ul>
