.btn-publicate{
    all: unset;
    background-color: rgb(4, 4, 77);
    color: white;
    padding: .2rem .5rem;
    margin: 2rem 0 1rem 15rem;
    
    &:hover{
        background-color: rgb(163, 163, 163);
        color: rgb(4, 4, 77);
        cursor: pointer;
        transition: ease .3s;
    
    }
}
.publication{
    border-top: .05rem solid rgb(4, 4, 77);
    padding: 0rem .5rem;
    margin: 1rem 15rem;
    .publisher-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
        .delete-btn{
            margin-top: 1.5rem;
            button{
                all: unset;
                color: #ffffff;
                background-color: #a03535;
                border: solid .01rem #a03535;
                margin-right: .3rem;
                padding: .3rem .8rem;
                &:hover{
                    cursor: pointer;
                    background-color: #ee5a5a;
                }
            }
        }
        .publisher{
            color: rgb(4, 4, 77);
            display: flex;
            margin-bottom: 2rem;
            h4{
                margin-left: 1rem;
                a{
                    text-decoration: none;
                }
            }
            .profile-avatar{
    
                img{
                    max-width: 4rem;
                    margin-left: .5rem;
                    padding-top: 1.5rem;
                    
                }
                
            }
            .messageSend{
                display: flex;
                margin: 1rem 0 0 2rem;
                height: 3rem;
                align-items: center;
                a{
                all: unset;
                color: white;
                text-align: center;
                border: solid 1px blueviolet;
                background-color: blueviolet;
                margin-top: .5rem;
                padding: .4rem .5rem;
                width: 10vw;
                &:hover {
                    cursor: pointer;
                    background-color: rgba(145, 43, 119, 0.322);
                    color: blueviolet;
                    transition: ease .3s;
                }
            }
            }
        }
    }
    
    .myPub{
        border: .05rem solid #7a7a94;
        .image{
            display: flex;
            justify-content: center;
            margin-bottom: .5rem;
            padding: .5rem .5rem;
            
            img{
                max-width: 30rem;
                text-align: center;
            }
        }
        .text{
            // border: .05rem solid #7a7a94;
            margin: .5rem .5rem;
            padding: 0rem .5rem;
        }
    }
    
}
.cancel-btn{
    all: unset;
    color: #a03535;
    border: solid .01rem #a03535;
    margin-right: .3rem;
    padding: .3rem .8rem;
    &:hover{
        cursor: pointer;
        background-color: #f8dfdf;
    }
}
.eliminar-btn{
    all: unset;
    color: #ffffff;
    background-color: #a03535;
    border: solid .01rem #a03535;
    margin-right: .3rem;
    padding: .3rem .8rem;
    &:hover{
        cursor: pointer;
        background-color: #ee5a5a;
    }
}