<button class="btn-publicate" [routerLink]="['/publicar']">Publicar</button>
<div *ngIf="publications">
<div *ngFor="let publication of publications" class="publication">
    <div class="publisher-section">
        
        
        <div class="publisher">
            <div class="profile-avatar">
                <img [src]="'http://localhost:3500/'+publication.user.avatar" *ngIf="publication.user.avatar">
                <img [src]="'assets/no-image.png'" *ngIf="!publication.user.avatar">
            </div>
            <h4>
                <a [routerLink]="['/usuario', publication.user._id]">
                    {{publication.user.username.toUpperCase()}}
                </a>
            </h4>
            <div class="messageSend">
                <a [routerLink]="['/mensajes/enviar', publication.user._id]">
                    Enviar Mensaje
                </a>
            </div>
        </div>
        <div *ngIf="publication.user._id==identity._id" class="delete-btn">
            <button (click)="deletePublication(publication._id)">Eliminar</button>
            <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
        </div>
    </div>
    
    <div class="myPub">
        <div class="image" *ngIf="publication.file!='null'">
            <!-- <img src="{{URL + '/pub-image/'+publication.file}}" alt=""> -->
            <img [src]="'http://localhost:3500/'+publication.file">
        </div>
        <div class="text">
            <p>{{publication.text}}</p>
        </div>
    </div>
    
</div>
</div>
