<button class="btn-publicate" [routerLink]="['/publicar']">Publicar</button>
<div *ngIf="publications">
<div *ngFor="let publication of publications" class="publication">
    <div *ngIf="publication.user._id==identity._id">
        <button (click)="deletePublication(publication._id)">Eliminar</button>
        <button mat-button (click)="openDialog()">Open dialog</button>

    </div>
    
    <div class="publisher">
        <div class="profile-avatar">
            <img [src]="'http://localhost:3500/'+publication.user.avatar">
        </div>
        <h4>
            <a [routerLink]="['/usuario', publication.user._id]">
                {{publication.user.username}}
            </a>
        </h4>
    </div>
    <div class="myPub">
        <div class="image">
            <!-- <img src="{{URL + '/pub-image/'+publication.file}}" alt=""> -->
            <img [src]="'http://localhost:3500/'+publication.file">
        </div>
        <div class="text">
            <p>{{publication.text}}</p>
        </div>
    </div>
    
</div>
</div>
