<div class="sended-messages">
<h3>Mensajes Enviados</h3>
<div class="people">
    <div *ngIf="!messages">
        <img [src]="'assets/spinner.jpg'" *ngIf="!messages">
    </div>
    <div *ngFor="let message of messages" class="itemuser">
        <div class="users">            
            <p>A {{message.receiver['username'].toUpperCase()}} | {{(message.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</p>
        </div>
            <div>
                <div class="message-text">
                    <a [routerLink]="['/mensajes/leer-mensajes', message.receiver['_id']]">
                        Ver Mensaje
                    </a>
                </div>
        </div>
    </div>
</div>
<ul class="nextpreview" *ngIf="messages && page>1">
    <li *ngIf="page>1" ><a [routerLink]="['/mensajes/enviados', prev_page]">Anterior</a></li>
    <li *ngIf="pages!=page" ><a [routerLink]="['/mensajes/enviados', next_page]">Siguiente</a></li>
</ul>
</div>